@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-infinite {
  display: flex;
  -webkit-animation: scrollText 12s infinite linear;
  animation: scrollText 12s infinite linear;
}

/*div:hover {
    animation-play-state: paused;
  }*/
@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-52%);
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-52%);
  }
}
